services:
  db:
    image: postgres:16
    container_name: postgres_players
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: laravel
    ports:
      - "5434:5432"