services:
  db:
    image: postgres:16
    container_name: postgres_example
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: laravel
    ports:
      - "5432:5432"

app:
    build:
      context: .
      dockerfile: Dockerfile 
    container_name: laravel_app
    restart: always
    volumes:
      - .:/var/www/html
      - /var/www/html/vendor          #volumen para vendor 
      - /var/www/html/node_modules    #volumen para node_modules
    ports:
      - "8080:80"
    environment:
      # Configuración de desarrollo
      - APP_ENV=local
      - APP_DEBUG=true
      - APP_KEY=base64:LgcfenEWb4dDYpfA6VjGsAlP7kj6q65IkgKHf/X7nPg=
      
      # Conexión a PostgreSQL
      - DB_CONNECTION=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=laravel
      - DB_USERNAME=user
      - DB_PASSWORD=1234
      
      # Configuración de la imagen
      - SKIP_COMPOSER=0
      - WEBROOT=/var/www/html/public
      - PHP_ERRORS_STDERR=1
      - RUN_SCRIPTS=1
      - REAL_IP_HEADER=1
      - COMPOSER_ALLOW_SUPERUSER=1
    depends_on:
      - db